<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>Document</title>
  <style media="screen">
    .page-content{
      margin-top: 70px;
      width: 100%;
    }
    .mdl-layout__content{
      width: 100%;
    }
    .card{
      width: 80%;
      padding: 16px;
      margin: 0 auto;
      margin-top: 10px;
      border: 1px solid #eee;
      border-radius: 5px;
    }
    .card span{
      font-weight: 400;
    }
    .doing{
      color: green;
    }
    .overing{
      color: yellow;
    }
  </style>
</head>
<body>
  <% include ../layout/header %>
  <main class='mdl-layout__content'>
    <div class="page-content">
      <% for(var i=0;i<data.length;i++) { %>
        <div class="card">
          <div class="text_con">
            <span><strong>time:</strong></span>
            <p> <%= data[i].time %> </p>
          </div>
          <div class="text_con">
            <span><strong>meetingname:</strong></span>
            <p> <%= data[i].meetingname %> </p>
          </div>
          <div class="text_con">
            <span><strong>meetingnum:</strong></span>
            <p> <%= data[i].meetingnum %> </p>
          </div>
          <div class="text_con">
            <span><strong>despretion:</strong></span>
            <p> <%= data[i].despretion %> </p>
          </div>
          <%if(data[i].status == 0) {%>
            <a href="?act=pass&id=<%= data[i].id%>&userid=<%=data[i].userid%>">PASS</a>
            <a href='?act=rej&id=<%= data[i].id%>&userid=<%=data[i].userid%>'>REJECT</a>
          <% }else if(data[i].status == 1){ %>
            <span class="doing">已通过</span>
          <% }else{ %>
            <span class="overing">已回绝</span>
          <% } %>
        </div>
        <%}%>
    </div>

    <a href="?deo=iu">feuyfu</a>
  <main>
</body>
<script src="/javascripts/material.min.js" charset="utf-8"></script>
</html>
